<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Monoton|Staatliches&display=swap" rel="stylesheet">
    <title>Pierre's Treat Shop!</title>
</head>
<body>
    <div class="container">
        <div class="card bg-dark">
            @RenderBody()
        </div>
    </div>
</body>
</html>
