@{
    Layout = "_Layout";
}

@model PierresSweets.Models.Treat
<div class="card-header">
    <h2>Are you sure you want to delete this?</h2>
</div>

<div class="card-body">
    @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
    @using (Html.BeginForm())
    {
       <input class="btn btn-outline-danger" type="submit" value="Delete" />
    }
</div>
<div class="card-footer">
    <a class="btn btn-outline-info" href="/">Home</a>  
      <a class="btn btn-outline-secondary" href="/Treats">Back to treats</a> 
</div>