@{ 
    Layout = "_Layout"; 
}

<div class="card-header">
<h1>Pierre's Treats!</h1>
</div>
<div class="card-body">
    <h5>Click the buttons below to begin viewing or creating!</h5>
</div>
<div class="card-footer">
<a class="btn btn-outline-success" href="/Treats">See Treats</a>
<a class="btn btn-outline-warning" href="/Flavors">See Flavors</a>
<a class="btn btn-outline-info" href="/Account/Login">Log in</a>
<a class="btn btn-outline-info" href="/Account/Register">Register</a>
</div>
